<html>
	<head>
	</head>
	<body>
		<h1>Hello URBot!</h1>
		<form type="POST" action="/watson">
			<input type="text" text="type something here">
			<input type="submit">
		</form>
	</body>
</html>

